<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="i_manager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="inventory_manager.i_manager.login" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="inventory_manager.i_manager.category" />
        <activity android:name="inventory_manager.i_manager.brand" />
        <activity android:name="inventory_manager.i_manager.product" />
        <activity android:name="inventory_manager.i_manager.MainActivity" />
        <activity android:name="inventory_manager.i_manager.catview" />
        <activity android:name="inventory_manager.i_manager.brandview" />
        <activity android:name="inventory_manager.i_manager.productview" />
        <activity android:name="inventory_manager.i_manager.pos" />
        <activity android:name="inventory_manager.i_manager.posview" />
        <activity android:name="inventory_manager.i_manager.user" />
        <activity android:name="inventory_manager.i_manager.editcategory" />
        <activity android:name="inventory_manager.i_manager.brandedit" />
        <activity android:name="inventory_manager.i_manager.productedit"></activity>
    </application>

</manifest>